body {
  font-family: Arial, sans-serif;
}

.search-bar {
  padding: 10px;
}

.search-bar .form-control {
  border-radius: 5px;
  width: 100%;
}

.product-grid .col-lg-4,
.product-grid .col-md-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-grid .placeholder-box {
  width: 300px;
  height: 300px;
  background-color: white;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2%;
}

.product-grid .placeholder-box img {
  width: 90%;
  height: 80%;
  object-fit: cover;
  display: block;
}

.product-name {
  font-size: 16px;
  padding-left: 16px;
  align-self: flex-start;
}

.feature-box,
.feature-box-2 {
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 500px;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.feature-box {
  background-image: url("/images/Muay.jpg");
}

.feature-box-2 {
  background-image: url("/images/Sprint.jpg");
}

.feature-box:before,
.feature-box-2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  pointer-events: none;
  z-index: 1;
}

.feature-box h3,
.feature-box-2 h3 {
  font-size: 24px;
  position: relative;
  z-index: 2;
}

.feature-box p,
.feature-box-2 p {
  font-size: 16px;
  position: relative;
  z-index: 2;
}

.feature-box a,
.feature-box-2 a {
  color: white;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}
